# Import pandas and other packages to be used

In [88]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib'

# Import and preview a dataset

In [8]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197625 entries, 0 to 197624
Data columns (total 11 columns):
C/A                                                                     197625 non-null object
UNIT                                                                    197625 non-null object
SCP                                                                     197625 non-null object
STATION                                                                 197625 non-null object
LINENAME                                                                197625 non-null object
DIVISION                                                                197625 non-null object
DATE                                                                    197625 non-null object
TIME                                                                    197625 non-null object
DESC                                                                    197625 non-null object
ENTRIES                                                                 197625 non-null int64
EXITS                                                                   197625 non-null int64
dtypes: int64(2), object(9)
memory usage: 16.6+ MB


# Data Munging/ Manipulation
This MTA turnstile dataset is a great place for us to get our hands dirty wrnagling and cleaning some data!  

Let's start by example by filtering the data down to all stations for the N line. To do this, we'll need to extract all "N"s from the LINENAME column, or similarly, create a column indicating whether or not the stop is an N line stop.

### Defining Functions

At this point, we will need to define some functions to perform data manipulation. In python, we define a function using the `def` keyword. Afterwords, we give the function a name, followed by parentheses. Any required (or optional parameters) are specified within the parentheses, just as you would normally call a function. You then specify the functions behavior using a colon and an indendation, much the same way you would a for loop or conditional block. Finally, if you want your function to return something (as with the str.pop() method) as opposed to a function that simply does something in the background but returns nothing (such as list.append()), you must use the `return` keyword. Note that as soon as a function hits a point in execution where something is returned, the function would terminate and no further commands would be executed. In other words the `return` command both returns a value and forces termination of the function.

In [13]:
def contains_n(text):
    if 'N' in text:
        return True
    else:
        return False

#or the shorter, more pythonic:
def contains_n(text):
    bool_val = 'N' in text
    return bool_val

In [15]:
df['On_N_Line'] = df.LINENAME.map(contains_n) #adding a column to the dataframe, creating a column with the information from our function above
df.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,On_N_Line
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,True
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,True
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,True
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,True
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,True
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425,True
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460,True
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461,True
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483,True
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524,True

In [16]:
df.tail(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,On_N_Line
197615,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,09:00:00,REGULAR,5554,348,False
197616,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,13:00:00,REGULAR,5554,348,False
197617,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,17:00:00,REGULAR,5554,348,False
197618,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,21:00:00,REGULAR,5554,348,False
197619,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,01:00:00,REGULAR,5554,348,False
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348,False
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348,False
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348,False
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348,False
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348,False

In [21]:
df.On_N_Line.value_counts(normalize=True, ascending = True)

True     0.129559
False    0.870441
Name: On_N_Line, dtype: float64

# Explanation
Above we used the map method for pandas series. This allows us to pass a function that will be applied to each and every data entry within the series. As shorthand, we could also pass a lambda function to determine whether or not each row was on the N line or not.  
`df['On_N_Line'] = df.LINENAME.map(lambda x: 'N' in x)`
This is shorter and equivalent to the above functions defined above. Lambda functions are often more covenient shorthand, but have less functionality then defining functions explicitly.

# Practice
Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [30]:
def count_line(text):
    count = len(text) # or it could just be return len(line)
    return count
df['Num_Lines'] = df.LINENAME.map(count_line)
df.head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,On_N_Line,Num_Lines
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,True,7
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,True,7
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,True,7
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,True,7
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,True,7

In [37]:
df['Num_Lines1'] = df.LINENAME.map(lambda line: len(line))
df.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,On_N_Line,Num_Lines,Num_Lines1
132292,R151,R033,00-00-00,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/30/2018,00:00:00,REGULAR,1417952,3267016,True,12,12
132255,R148,R033,01-06-01,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/31/2018,04:00:00,REGULAR,68217145,17201834,True,12,12
132253,R148,R033,01-06-01,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/30/2018,20:00:00,REGULAR,68216902,17201755,True,12,12
132414,R151,R033,00-00-03,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/28/2018,11:29:43,REGULAR,6291546,8895428,True,12,12
132412,R151,R033,00-00-03,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/28/2018,08:00:00,REGULAR,6291234,8894593,True,12,12
130953,R143,R032,02-00-01,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/29/2018,12:00:00,REGULAR,1006655,1636005,True,12,12
132351,R151,R033,00-00-02,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/25/2018,12:00:00,REGULAR,9430076,7497202,True,12,12
132323,R151,R033,00-00-01,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/28/2018,04:00:00,REGULAR,1717447609,320077586,True,12,12
132324,R151,R033,00-00-01,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/28/2018,08:00:00,REGULAR,1717447879,320077654,True,12,12
132325,R151,R033,00-00-01,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/28/2018,10:00:23,REGULAR,1717448354,320077763,True,12,12

In [38]:
df.sort_values('Num_Lines1', ascending=False, inplace=True)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,On_N_Line,Num_Lines,Num_Lines1
132292,R151,R033,00-00-00,TIMES SQ-42 ST,1237ACENQRSW,IRT,08/30/2018,00:00:00,REGULAR,1417952,3267016,True,12,12
2672,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/27/2018,12:00:00,REGULAR,2830283,3305370,True,12,12
2700,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/31/2018,20:00:00,REGULAR,2842280,3317347,True,12,12
2673,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/27/2018,16:00:00,REGULAR,2830710,3305818,True,12,12
2674,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,08/27/2018,20:00:00,REGULAR,2832048,3306310,True,12,12

# Cleaning Column Names
Sometimes, you have messy column names. Observe:

In [39]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               ',
       'On_N_Line', 'Num_Lines', 'Num_Lines1'],
      dtype='object')

You might notice that foolishly, the EXITS column has a lot of annoying whitespace following it.
We can quickly use a list comprehension to clean up all of the column names.

### Write a function to clean a column name.

In [43]:
def col_edit(name):
    return lower(columns)
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries',
       'exits                                                               ',
       'on_n_line', 'num_lines', 'num_lines1'],
      dtype='object')

In [45]:
df.columns = df.columns.map(lambda x: x.lower().replace('/',''))
df.columns

Index(['ca', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries',
       'exits                                                               ',
       'on_n_line', 'num_lines', 'num_lines1'],
      dtype='object')

In [48]:
def clean(col_name):
    cleaned = col_name.lower().replace('/','').strip()#Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    return cleaned

df.columns = df.columns.map(clean)
df.columns

Index(['ca', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries', 'exits', 'on_n_line', 'num_lines', 'num_lines1'],
      dtype='object')

In [49]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [50]:
#Checking the output, we can see the results.
df.columns

Index(['ca', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries', 'exits', 'on_n_line', 'num_lines', 'num_lines1'],
      dtype='object')

# Reformatting Column Types
Another common data munging technique can be reformating column types. We first previewed column types above using the `df.info()` method, which we'll repeat here.

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197625 entries, 132292 to 197624
Data columns (total 14 columns):
ca            197625 non-null object
unit          197625 non-null object
scp           197625 non-null object
station       197625 non-null object
linename      197625 non-null object
division      197625 non-null object
date          197625 non-null object
time          197625 non-null object
desc          197625 non-null object
entries       197625 non-null int64
exits         197625 non-null int64
on_n_line     197625 non-null bool
num_lines     197625 non-null int64
num_lines1    197625 non-null int64
dtypes: bool(1), int64(4), object(9)
memory usage: 21.3+ MB

A common transformation needed is converting numbers stored as text to *float* or *integer* representations. In this cas ENTRIES and EXITS are appropriately *int64*, but to practice, we'll demonstrate changing that to a float and then back to an int.

In [58]:
print(df.entries.dtype) #We can also check an individual column type rather then all 
df.entries = df.entries.astype(float)
print(df.entries.dtype)

float64
float64

In [60]:
#Converting Back
print(df.entries.dtype) 
df.entries = df.entries.astype(int)
print(df.entries.dtype)

float64
int64

Attempting to convert a string column to int or float will produce errors if there are actually non numeric characters

In [62]:
df.linename = df.linename.astype(int)

ValueError: invalid literal for int() with base 10: '1237ACENQRSW'

# Converting Dates
A slightly more complicated data type transformation is creating *date* or *datetime* objects. These are built in datatypes that have useful information such as being able to quickly calculate the time between two days, or extracting the day of the week from a given date. However, if we look at our current date column, we will notice it is simply a *non-null object* (probably simply text).

In [63]:
df.date.dtype

dtype('O')

In [64]:
df.date.head()

132292    08/30/2018
2672      08/27/2018
2700      08/31/2018
2673      08/27/2018
2674      08/27/2018
Name: date, dtype: object

In [69]:
pd.to_datetime(df.date).head()

132292   2018-08-30
2672     2018-08-27
2700     2018-08-31
2673     2018-08-27
2674     2018-08-27
Name: date, dtype: datetime64[ns]

In [71]:
df.date.head()

132292    08/30/2018
2672      08/27/2018
2700      08/31/2018
2673      08/27/2018
2674      08/27/2018
Name: date, dtype: object

# pd.to_datetime()
This is the handiest of methods when converting strings to datetime objects.

In [18]:
#Often you can simply pass the series into this method.
pd.to_datetime(df.DATE).head() #It is good practice to preview the results first
#This prevents overwriting data if some error was produced. However everything looks good!

0   2018-08-25
1   2018-08-25
2   2018-08-25
3   2018-08-25
4   2018-08-25
Name: DATE, dtype: datetime64[ns]

Sometimes the above won't work and you'll have to explicitly pass how the date is formatted.  
To do that, you have to use some datetime codes. Here's a preview of some of the most common ones:  
<img src="strftime_codes.png" width=600>

To explicitly pass formatting parameters, preview your dates and write the appropriate codes.

In [72]:
df.date.iloc[0] #Another method for slicing series/dataframes

'08/30/2018'

In [73]:
#Notice we include delimiters (in this case /) between the codes.
pd.to_datetime(df.date, format='%m/%d/%Y').head()

132292   2018-08-30
2672     2018-08-27
2700     2018-08-31
2673     2018-08-27
2674     2018-08-27
Name: date, dtype: datetime64[ns]

In [74]:
#Actually apply and save our changes
df.date = pd.to_datetime(df.date)
print(df.date.dtype)
#Preview updated dataframe
df.head(2)

datetime64[ns]

,ca,unit,scp,station,linename,division,date,time,desc,entries,exits,on_n_line,num_lines,num_lines1
132292,R151,R033,00-00-00,TIMES SQ-42 ST,1237ACENQRSW,IRT,2018-08-30,00:00:00,REGULAR,1417952,3267016,True,12,12
2672,A021,R032,01-00-01,TIMES SQ-42 ST,ACENQRS1237W,BMT,2018-08-27,12:00:00,REGULAR,2830283,3305370,True,12,12

# Datetime Methods
Now that we have converted the DATE field to a datetime object we can use some useful built in methods.

In [76]:
#dt stores all the built in datetime methods (only works for datetime columns)
df.date.dt.day_name().head(10)

132292    Thursday
2672        Monday
2700        Friday
2673        Monday
2674        Monday
2675       Tuesday
2676       Tuesday
2677       Tuesday
2678       Tuesday
2679       Tuesday
Name: date, dtype: object

# Groupby Methods
Let's look at one more extremely important method. Groupby allows you to aggregate the data based on a field. You then apply an aggregation function such as *mean*, *median*, *count*, *min*, *max*, or even a custom function which you can define yourself!

In [77]:
df.station.unique()

array(['TIMES SQ-42 ST', '42 ST-PORT AUTH', 'ATL AV-BARCLAY',
       '14 ST-UNION SQ', 'FULTON ST', '34 ST-HERALD SQ', 'W 4 ST-WASH SQ',
       '59 ST', 'CANAL ST', '34 ST-PENN STA', '14 ST', '4AV-9 ST',
       '4 AV-9 ST', '6 AV', 'GRD CNTRL-42 ST', 'BOROUGH HALL',
       '74 ST-BROADWAY', '5 AVE', 'JKSN HT-ROOSVLT', 'FRANKLIN AV',
       'WORLD TRADE CTR', '59 ST COLUMBUS', 'CHAMBERS ST', 'BROADWAY JCT',
       'BROOKLYN BRIDGE', 'DEKALB AV', '42 ST-BRYANT PK',
       "B'WAY-LAFAYETTE", 'PARK PLACE', 'BOTANIC GARDEN', '145 ST',
       '47-50 STS ROCK', '57 ST-7 AV', '125 ST', 'FOREST HILLS 71',
       '5 AV/59 ST', '49 ST', 'DELANCEY/ESSEX', 'QUEENSBORO PLZ',
       'CONEY IS-STILLW', '8 AV', 'NEVINS ST', 'JAMAICA CENTER',
       '161/YANKEE STAD', 'SUTPHIN-ARCHER', 'QUEENS PLAZA',
       'LEXINGTON AV/53', 'COURT SQ', '7 AV', '36 AV', 'COURT SQ-23 ST',
       'JAY ST-METROTEC', 'HOYT-SCHER', 'SOUTH FERRY', 'ASTORIA BLVD',
       '30 AV', 'ASTORIA DITMARS', '72 ST', 'BLEECKER ST', '36 ST',
       '96 ST', 'PROSPECT PARK', 'MARCY AV', 'RECTOR ST', '28 ST',
       'CORTLANDT ST', 'PRINCE ST', '8 ST-NYU', 'CITY HALL', '23 ST',
       '168 ST', 'WHITEHALL S-FRY', '149/GRAND CONC', '86 ST',
       'MYRTLE AV', 'BOWLING GREEN', 'EUCLID AV', 'WALL ST',
       'CENTRAL PK N110', '3 AV-149 ST', 'PELHAM PKWY', 'METROPOLITAN AV',
       '135 ST', 'BRIARWOOD', 'KEW GARDENS', 'CARROLL ST', '116 ST',
       'SMITH-9 ST', '138/GRAND CONC', '15 ST-PROSPECT', 'WEST FARMS SQ',
       'E 180 ST', 'BRONX PARK EAST', '233 ST', '219 ST', '225 ST',
       'GUN HILL RD', 'CHURCH AV', 'ALLERTON AV', 'BURKE AV',
       'FT HAMILTON PKY', 'PROSPECT AV', 'SIMPSON ST', 'INTERVALE AV',
       'JACKSON AV', 'GRAND ST', 'FREEMAN ST', '174 ST', 'BERGEN ST',
       'NEREID AV', 'BEACH 90 ST', '170 ST', 'SPRING ST', '50 ST',
       'FLATBUSH AV-B.C', 'HIGH ST', 'NEWKIRK AV', 'SHEEPSHEAD BAY',
       '81 ST-MUSEUM', '103 ST', 'ROCKAWAY PARK B', 'BEACH 98 ST',
       'BRIGHTON BEACH', 'BEACH 105 ST', 'BROAD CHANNEL', '167 ST',
       '155 ST', 'UTICA AV', 'NOSTRAND AV', 'FLUSHING AV',
       'W 8 ST-AQUARIUM', 'NORTHERN BLVD', 'MYRTLE-WYCKOFF',
       'WOODHAVEN BLVD', '104 ST', '75 ST-ELDERTS', 'HOYT ST',
       'LORIMER ST', '121 ST', 'CHAUNCEY ST', 'GATES AV', 'VAN SICLEN AV',
       'HEWES ST', 'BEVERLY RD', 'CLARK ST', 'CRESCENT ST', 'NORWOOD AV',
       'STERLING ST', 'NEW UTRECHT AV', 'PRESIDENT ST', 'CROWN HTS-UTICA',
       'WINTHROP ST', 'KINGSBRIDGE RD', 'AVENUE J', 'EASTN PKWY-MUSM',
       'GRAND ARMY PLAZ', 'AVENUE M', '65 ST', 'KINGS HWY',
       '63 DR-REGO PARK', 'AVENUE H', 'NEWKIRK PLAZA', '46 ST',
       'ELMHURST AV', 'GRAND-NEWTOWN', 'BOWERY', 'BROAD ST', '75 AV',
       'NECK RD', '67 AV', 'PARKSIDE AV', 'BEVERLEY ROAD', 'CORTELYOU RD',
       'AVENUE U', 'BEDFORD PK BLVD', 'FORDHAM RD', 'TREMONT AV',
       '5 AV/53 ST', '182-183 STS', 'STEINWAY ST', 'RIT-ROOSEVELT',
       'TOMPKINSVILLE', 'ST. GEORGE', '33 ST', '34 ST-HUDSON YD',
       'MARBLE HILL-225', '238 ST', '231 ST', '215 ST', 'NEW LOTS AV',
       'BAYCHESTER AV', 'V.CORTLANDT PK', 'JUNIUS ST', 'PENNSYLVANIA AV',
       'SARATOGA AV', 'ASTOR PL', 'SUTTER AV-RUTLD', 'EASTCHSTER/DYRE',
       'ROCKAWAY AV', 'MORRIS PARK', 'BROOK AV', 'KINGSTON AV',
       'METS-WILLETS PT', '33 ST-RAWSON ST', '40 ST LOWERY ST',
       '46 ST BLISS ST', 'HUNTERS PT AV', 'CYPRESS AV', 'WAKEFIELD/241',
       '3 AV 138 ST', '169 ST', 'PARKCHESTER', '82 ST-JACKSON H',
       '90 ST-ELMHURST', 'ST LAWRENCE AV', 'JUNCTION BLVD',
       '61 ST WOODSIDE', '52 ST', '69 ST', 'ZEREGA AV', 'WESTCHESTER SQ',
       'CASTLE HILL AV', 'MIDDLETOWN RD', 'VERNON-JACKSON', '51 ST',
       'LONGWOOD AV', 'BUHRE AV', 'PELHAM BAY PARK', 'E 149 ST',
       "E 143/ST MARY'S", 'HUNTS POINT AV', 'MORISN AV/SNDVW', '77 ST',
       'WHITLOCK AV', 'ELDER AV', 'FLUSHING-MAIN', '68ST-HUNTER CO',
       '110 ST', 'BEDFORD-NOSTRAN', 'MOSHOLU PKWY', 'WOODLAWN',
       'BURNSIDE AV', 'MT EDEN AV', '176 ST', '183 ST', '103 ST-CORONA',
       'HARLEM 148 ST', '111 ST', 'OZONE PK LEFFRT', 'ROCKAWAY BLVD',
       'EAST BROADWAY', '80 ST', '88 ST', 'VAN SICLEN AVE', 'BEACH 60 ST',
       'LIBERTY AV', 'SHEPHERD AV', 'AQUEDUCT RACETR', 'GRANT AV',
       'HOWARD BCH JFK', 'BEACH 67 ST', 'AQUEDUCT N.COND', '175 ST',
       '181 ST', '21 ST', 'INWOOD-207 ST', 'KINGSTON-THROOP',
       'DYCKMAN ST', '190 ST', 'CLINTON-WASH AV', 'RALPH AV', 'BROADWAY',
       'LAFAYETTE AV', 'NASSAU AV', 'GREENPOINT AV', 'JAMAICA 179 ST',
       '2 AV', 'MYRTLE-WILLOUGH', 'SUTPHIN BLVD', 'CLASSON AV',
       'NORWOOD 205 ST', 'FAR ROCKAWAY', 'PARSONS BLVD', 'BEACH 36 ST',
       'BEACH 25 ST', 'BEACH 44 ST', '9 AV', 'NEWARK C', 'BAY 50 ST',
       '1 AV', '18 AV', 'BAY PKWY', '20 AV', '25 AV', '3 AV', '71 ST',
       '79 ST', '55 ST', 'UNION ST', 'OCEAN PKWY', '25 ST', '45 ST',
       'BAY RIDGE-95 ST', '53 ST', 'KOSCIUSZKO ST', 'BAY RIDGE AV',
       'JFK JAMAICA CT1', 'HALSEY ST', 'ALABAMA AV', 'EAST 105 ST',
       'CANARSIE-ROCKAW', 'NEW LOTS', 'SENECA AVE', 'FRESH POND RD',
       'FOREST AVE', 'KNICKERBOCKER', '85 ST-FOREST PK', 'CYPRESS HILLS',
       'CLEVELAND ST', 'CENTRAL AV', 'PATH NEW WTC', 'MORGAN AV',
       'GRAHAM AV', 'BEDFORD AV', 'MONTROSE AV', 'SUTTER AV',
       'BUSHWICK AV', 'WILSON AV', 'ATLANTIC AV', 'LIVONIA AV',
       'JEFFERSON ST', 'CHRISTOPHER ST', 'FRANKLIN ST', 'HOUSTON ST',
       'NEWARK BM BW', 'THIRTY THIRD ST', 'NEWARK HM HE', 'LACKAWANNA',
       'PATH WTC 2', '96 ST-2 AVE', '116 ST-COLUMBIA', 'CATHEDRAL PKWY',
       '137 ST CITY COL', '207 ST', '191 ST', '157 ST', '18 ST',
       '66 ST-LINCOLN', '21 ST-QNSBRIDGE', '72 ST-2 AVE', '86 ST-2 AVE',
       'JAMAICA VAN WK', 'ROOSEVELT ISLND', 'LEXINGTON AV/63',
       'ORCHARD BEACH', 'NEWARK HW BMEBE', 'AVENUE I', 'AVENUE N',
       'DITMAS AV', 'TWENTY THIRD ST', 'YORK ST', 'NEPTUNE AV',
       'AVENUE X', 'AVENUE P', 'CITY / BUS', '9TH STREET', '14TH STREET',
       'PAVONIA/NEWPORT', 'THIRTY ST', 'JOURNAL SQUARE', 'GROVE STREET',
       'HARRISON', 'EXCHANGE PLACE'], dtype=object)

In [79]:
df.groupby('station').num_lines.sum().head()

station
1 AV             420
103 ST           790
103 ST-CORONA    396
104 ST           541
110 ST           252
Name: num_lines, dtype: int64

Notice that our groupby column becomes the index of the resulting view. To change this, you can also use the `.reset_index()` method.

In [81]:
df.groupby('station').sum().reset_index().head()

         station       entries         exits  on_n_line  num_lines  num_lines1
0           1 AV  127637422994   68336694378        0.0        420         420
1         103 ST    6809043268   26408857862        0.0        790         790
2  103 ST-CORONA    2936772648    3007136644        0.0        396         396
3         104 ST  201698739525  146808927663        0.0        541         541
4         110 ST    1485948761    1430806219        0.0        252         252

Finally, we could graph these as before.

In [34]:
df.columns = [col.strip() for col in df.columns]

In [87]:
to_graph = df.groupby('station').sum().sort_values('entries')[['entries','exits']]

In [90]:
to_graph = df.groupby('station').sum().sort_values(by='entries')[['entries', 'exits']]
#Recall that default behavior for .sort_values() is ascending.
#Hence, we look at the tail rather then head for top values
#Alternatively, we could use .sort_values(ascending=False) followed by the .head() method
to_graph.tail(10).plot(kind='barh');
plt.title('Top 10 Stations Based on Number of Entries.');
plt.xlabel('Number of Entries/Exits');

ImportError: matplotlib is required for plotting.

# Practice
Here we begin to do some exploratory analysis to answer some questions.

# 1. Compare subway traffic by day of the week. Display this as a graph.

In [ ]:
# traffic = entries and exits, by day of the week

# 2. Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [ ]:
#asking for percentages --> value counts